body {
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.right {
    flex: 1;
    transition: 1s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:0.2s all ease-in-out;
}



.cls-1 {
    fill: #fff;
}



.cls-2 {
    fill: #f1a721;
}

.logo{
    width: 60%;
}

.logo:hover{
    width: 62%;
}

.loginHeader>h2 {
    margin: 0;
    font-size: 55px;
    color: #fd9800;
}

.loginHeader>h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.form>p {
    text-align: right;
}

.form>p>a {
    color: #000;
    font-size: 14px;
}

.form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
}

.form-field:focus {
    border-color: #fd9800;
}

.form>button {
    padding: 12px 10px;
    border: 0;
    background: #fd9800;
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition:0.2s all ease-in-out;
}

.form>button:hover{
    background-color:#000000;
}

.animation {
    animation-name: move;
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-delay: 2s;
}


.a0 {
    animation-delay: 0.7s;
}

.a {
    animation-delay: 1.5s;
}

.a1 {
    animation-delay: 2s;
}

.a2 {
    animation-delay: 2.1s;
}

.a3 {
    animation-delay: 2.2s;
}

.a4 {
    animation-delay: 2.3s;
}

.a5 {
    animation-delay: 2.4s;
}

.a6 {
    animation-delay: 2.5s;
}

@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        padding: 20px 40px;
        width: 440px;
    }
}

@media (max-width: 1024px) {
    .right {
        background-position: right;
    }
}

@media (max-width: 991px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }

    .logo{
        width: 70%;
    }

    .left{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .right{
        height: 10vh;
        width: 100vw;
    }

    .loginHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .arrow{
        margin: 20px;
    }

    .arrow img{
        width: 10px;
    }

    .loginHeader>h2{
        font-size: 40px;
    }

    .loginHeader>h4{
        font-size: 13px;
    }

    .form {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

}